# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.dat
*.json